nav ul {
  border: 1px solid magenta;
  list-style: none;
  display: flex; 
  /* justify-content: space-between; */
  /* gets rid of listed item's default padding */
  padding: 0;
  
}

nav li {
  border: 2px dotted orange;
  margin: 0 1em;
}

nav a {
  border: 3px solid green;
}

nav a:hover {
    
}